*{
    font-family: 'Nunito', sans-serif;
}
ng-flash-message{
    max-width: 100%;
}
body{
    width: 100%;
    margin: 0;
    background: rgba(0, 0,0, 0.1);
}
a{
    text-decoration: none;
    color: black;
}
.all{
    width: 70%;
    margin: auto;
}
.nav{
    width: 100%;
    height: 110px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35px 75px;
    font-size: 1.3em;
    background: #fff;
}
.nav .up{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.03);
    display: flex;
    justify-content: flex-end;
}
.nav .up .opcs{
    display: grid;
    grid-template-columns: 150px 150px 150px;
}
.nav .up .us{
    width: 100%;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}
.nav .up .cuenta{
    width: 100%;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
}
.nav .up .cuenta img{
    width: 25px;
    height: 25px;
    margin-top: 2px;
}
.nav .up .cuenta .formulario{
    min-width: 150px;
    max-width: 340px;
    display: none;
    border: 2px solid #D87970;
    background: #fff;
}
.nav .up .cuenta:hover{
    background: #fff;
}
.nav .up .cuenta:hover .formulario{
    display: block;
    position: absolute;
    top:30px;
    border: 2px solid #D87970;
    z-index: 9999999;
}
.nav .up .soporte{
    width: 100%;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}
.nav .down{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 45% 15%;
}
.nav .down .log{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-weight: 600;
    color: #424A59;
}
.nav .down form{
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    justify-items: left;
    align-items: center;
}
.nav .down .buscar{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 22% 8%;
}
.nav .down .buscar input[type=submit]{
    display: none;
}
.nav .down .buscar input[type=search]{
    background: #fff;
    border-style:solid;
    border-color:  #424A59;
    border-width: 2px 0px 2px 2px;
    border-radius: 5px 0px 0px 5px;
    font-size: 1em;
    padding: 5px 15px 5px 15px;
    outline: none;
    width: 100%;
}
.nav .down .buscar select{
    width: 100%;
    background: #fff;
    color: #424A59;
    border-style:solid;
    border-color:  #424A59;
    border-width: 2px 2px 2px 1px;
    font-weight: 600;
    outline: none;
}
.nav .down .buscar select option{
    background: white;
    color: #424A59;
    font-weight: 600;
}
.nav .down .buscar label{
    width: 100%;
    max-width: 47px;
    max-height: 47px;
    min-width: 47px;
    min-height: 47px;
    background: #424A59;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav .down .buscar label img{
    width: 75%;
    height: 75%;
}
.nav .down .buscar .out{
    width: 300px;
    position: absolute;
    top: 100px;
    background: #fff;
    border: 2px solid #424A59;
    display: none;
}
.nav .down .buscar .out .prod{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    cursor: pointer;
}
.nav .down .buscar .out .prod:hover{
    background: rgba(0,0,0,0.07);
}
.nav .down .buscar .out .prod .img{
    width: 100%;
    max-width: 100%;
    height: 50px;
}
.nav .down .buscar .out .prod .img img{
    height: 45px;
    max-width: 100%;
    object-fit: cover;
}
.nav .down .buscar .out .plus{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 600;
    background: rgba(0, 0,0, 0.1);
    cursor: pointer;
    height: 40px;
}
.registro{
    display: none;
}
@media screen and (max-width:765px){
    .all{
        width: 100%;
    }
    .nav{
        height: 135px;
    }
    .nav .up .opcs{
        width: 100%;
        grid-template-columns: 33% 33% 33%;
    }
    .nav .down{
        grid-template-columns: 100%;
    }
    .nav .down .buscar input[type=search]{
        min-width: 0px;
    }
    .nav .down .buscar label{
        min-width: 0px;
        min-height: 0px;
    }
    .nav .down .buscar .out{
        width: 300px;
        position: absolute;
        top: 130px;
        background: #fff;
    }
}
.img-full{
    width: 100%;
    max-width: 100%;
}
.img-full img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.body .titulo{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 2em;
    font-weight: 900;
}
.body .subtitulo{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.7em;
    font-weight: 600;
}
.body .parrafo{
    padding: 10px;
}


.body .titulo-caja{
    width: 100%;
    margin: 0;
    text-align: center;
}
.body .titulo-caja label{
    color: black;
    font-size: 1.7em;
    background: #e5e5e5;
    padding: 5px;
    position: relative;
    bottom: -20px;
}
.body .titulo-caja .productos{
    border: 5px solid black;
    border-radius: 25px;
    padding: 50px 0px 50px 0px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.body .titulo-caja .productos .producto{
    width: 85%;
    max-height: 600px;
    margin: 20px auto 20px auto;
    transition: .2s;
}
.producto .img{
    width: 100%;
}
.producto .img img{
    width: 100%;
}
.producto .nombre{
    font-size: 1.3em;
    text-align: center;
    color: black;
}
.producto .price{
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    color: black;
}
.producto:hover{
    box-shadow: 0px 0px 10px #D8A588;
    cursor: pointer;
    transform: scale(1.01);
}
.parrafo{
    width: 80%;
    margin: auto;
    text-align: justify;
}

.footer{
    width: 100%;
    height: 70px;
    color: white;
    background: #424A59;
    margin-top: 50px;
    bottom: 0px;
}
.working{
    width: 100%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    padding-top: 70px;
}
.working img{
    width: 70%;
    max-width: 200px;
    margin: auto;
}
.working label{
    font-size: 1.5em;
    font-weight: 600;
}
.form{
    width: 100%;
    max-width: 600px;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    background: #fff;
    margin: auto;
}
.register{
    min-width: 400px;
    border: 2px solid #D87970;
}
.form .titulo{
    font-size: 1.2em;
    font-weight: 600;
    color: #424A59;
    width: auto;
    background: #D87970;
    color: white;
    text-align: left;
    padding: 0px 0px 0px 10px;
}
.form .titulo label{
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 2em;
    color: #000;
    cursor: pointer;
}
.form form{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
}
.form form label{
    font-size: 1em;
    text-align: left;
    padding-left: 10px;
    color: #424A59;
    font-weight: 600;
}
.form form .red{
    word-wrap: break-word;
    font-weight: 100;
    text-align: center;
}
#reg{
    display: none;
}
#reg:checked + .registro{
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    text-align: center;
    justify-content: center;
    z-index: 9999;
    padding-top: 50px;
}
.form form .input_text{
    width: 90%;
    margin-left: 10px;
    background: #fff;
    border: 2px solid #424A59;
    padding: 5px;
    font-size: 1em;
    outline: none;
}
.form form input[type=submit]{
    width: 60%;
    margin: 10px auto 10px auto;
    background: #424A59;
    color: white;
    font-size: 1em;
    font-weight: 600;
    border: 2px solid #424A59;
    cursor: pointer;
    padding: 5px 0px 5px 0px;
}
.titulo{
    width: 100%;
    background: rgba(0,0,0,0.05);
    color: black;
    font-size: 2em;
    padding: 5px 0px 5px 0px;
    text-align: center;
}
.inventario .cuerpo{
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
}
.inventario .cuerpo .top{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 35px;
    max-width: 900px;
}
.inventario .cuerpo .top form{
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
}
.inventario .cuerpo .top form input{
    width: 100%;
    color: black;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 3px;
    border: 1px solid #424A59;
}
.inventario .cuerpo .top .buton{
    width: 100%;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
}
.inventario .cuerpo .top form input[type=submit]{
    border: 2px solid #D8A588;
    background: #D8A588;
}
.inventario .cuerpo .top .buton:hover{
    background: #fff;
}
.inventario .cuerpo .top .butongreen{
    background: #1672cc;
    border: 2px solid #1672cc;
    text-align: center;
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    margin: auto;
    padding: 3px;
    align-items: center;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
    color: white;
}
.inventario .cuerpo .top .butongreen:hover{
    background: #fff;
    color: black;
}
.inventario .cuerpo .cuerpo{
    width: 100%;
    max-width: 700px;
}
.inventario .cuerpo .cuerpo .ingresar{
    margin: auto;
    margin-top:20px;
    width: 100%;
}
.inventario .cuerpo .cuerpo .ingresar form{
    width: 100%;
}
.inventario .cuerpo .cuerpo .ingresar .titulo_{
    font-size: 1.7em;
    color: black;
    text-align: center;
    font-weight: 600;
}
.inventario .cuerpo .cuerpo .ingresar .cuerpo{
    width: 100%;
}
.ingresar .cuerpo{
    width: 80%;
    margin: auto;
    text-align: center;
}
.ingresar .cuerpo label{
    width: 100%;
    font-size: 1.5em;
    align-self: center;
}
.ingresar .cuerpo input,.ingresar .cuerpo select{
    width: 50%;
    margin: auto;
    padding: 5px;
    font-size: 1.3em;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #424A59;
}
.ingresar .cuerpo input[type=submit]{
    background: #424A59;
    border: 2px solid #424A59;
    border-radius: 7px;
    font-size: 1.3em;
    color: white;
    margin: 20px auto 20px auto;
    cursor: pointer;
    transition: .2s;
}
.ingresar .cuerpo input[type=submit]:hover{
    color: black;
    background: #fff;
    transform: scale(1.01);
}
.ingresar .cuerpo img{
    max-width: 100%;
    max-height: 200px;
    margin: 10px auto 10px auto;
}
.productos{
    width: 80%;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.buscar label img{
    width: 20px;
    height: 20px;
}
.proc{
    width: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
}
.proc .img{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.proc img{
    width: 70%;
    margin-top: 50px;
}
.proc .info{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 20px 100px 30px;
    padding-top: 40px; 
}
.proc .info .tit{
    font-size: 2em;
    font-weight: 600;
}
.proc .info .codigo{
    font-size: 0.7em;
    color: gray;
}
.proc .info .desc{
    text-align: left;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
.proc .info .btn{
    width: 100%;
}
.proc .info .btn button{
    width: 25px;
    height: 25px;
    border:2px solid #D87970;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    outline: none;
}
.proc .info .btn button:hover{
    background: #D87970;
    color: #000;
}
.proc .info .btn input{
    width: 38px;
    height: 24px;
    border: 1px solid black;
    text-align: center;
    outline: none;
    margin: 0px 5px 0px 5px;
}
.proc .info .btnR{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    background: #D87970;
    border: 2px solid #D87970;
    color: #fff;
    cursor: pointer;
}
.proc .info .btnR:hover{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    background: transparent;
    border: 2px solid #D87970;
    color: #D87970;
    cursor: pointer;
}
.down .car{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
@media screen and (max-width:765px){
    .down .car{
        position: absolute;
        top: 40px;
        right: 20px;
    }
    .down .car:hover .list{
        position: fixed;
        top: 80px;
        width: 100%;
        max-width: 1000px;
        right: 0px;
    }
}
.down .car img{
    height: 40px;
    margin: auto;
    cursor: pointer;
}
.down .car:hover .list{
    display: block;
    width: 100%;
    right: 10px;
    max-width: 300px;
    max-height: 500px;
    background: #e5e5e5;
}
.down .car .list{
    position: absolute;
    top:100px;
    display: none;
    border: 1px solid #D87970;
}
.down .car .top{
    font-size: 1.2em;
    font-weight: 600;
    color: #424A59;
    width: auto;
    background: #D87970;
    color: white;
    text-align: left;
    padding: 0px 0px 0px 10px;
}
.contenido .product{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 25% 10% 25% 10%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 5px;
}
.contenido .product div{
    width: 100%;
    height: 70px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.contenido .product div img{
    width: 100%;
    text-align: center;
    max-width: 70px;
    height: auto;
    margin: auto;
}
.contenido .product div button{
    width: 30px;
    height: 30px;
    background: #D87970;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.total{
    width: 100%;
    text-align: right;
}
.btnCar{
    width: 100%;
    max-width: 300px;
    background: #D8A588;
    color: #fff;
    font-weight: 600;
    border: 3px solid #D8A588;
    height: 40px;
    cursor: pointer;
    outline: none;
}
.btnCar:hover{
    background: #e5e5e5;
    color: #D8A588;
}
.showw{
    width: 100%;
    max-width: 400px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    color: rgba(0,0,0,0.7);
}
.pedido{
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.pedido:hover{
    transform: scale(1.04);
}
.pedido:active{
    background: rgba(0,0,0,0.05);
}