<div class="form">
  <div class="titulo">
    Iniciar Sesión
  </div>
  <form (submit)="onLoginSubmit()">
    <label for="username">Nombre de Usuario</label>
    <input class="input_text" type="text" [(ngModel)]="username" name="username" id="username" placeholder="Nombre de Usuario" autocomplete="off" required>
    <label for="contrasena">Contraseña</label>
    <input class="input_text" type="password" [(ngModel)]="contrasena" name="contrasena" id="contrasena" placeholder="Contraseña" autocomplete="off" required>
    <input type="submit" value="Ingresar" name="enviar" id="iniciar">
    <label class="red" for="reg">Aún no tienes cuenta?  <br> Registrate Aquí</label>
    <ng-flash-message></ng-flash-message>
  </form>
</div>