<div class="nav">
  <div class="up">
    <div class="opcs">
      <div class="us">
          <a [routerLink]="['/nosotros']">Nosotros</a>
      </div>
      <div *ngIf="loged || adloged; then data else opcs"></div>
      <ng-template #opcs>
        <div class="cuenta">
            <img [src]="'assets/avatar.png'" alt="">Cuenta
            <div class="formulario">
              <app-login></app-login>
            </div>
        </div>
      </ng-template>
      <ng-template #data>
        <div class="cuenta">
            <img [src]="'assets/avatar.png'" alt="">{{ nombre }}
            <div class="formulario">
                <a [routerLink]="" (click)="onLogout()">Logout</a>
            </div>
        </div>
      </ng-template>
      <div class="soporte">
          <a [routerLink]="['/soporte']" >Soporte</a>
      </div>
    </div>
  </div>

  <div class="down">
    <div class="log">
      <a [routerLink]="['/']">MADISERVI</a>
    </div>
    <form (submit)="search()">
        <div class="buscar">
            <input type="search" [(ngModel)]="buscar" (keyup)="search_rt()" name="buscar" id="buscar" placeholder="Buscar" autocomplete="off">
            <select [(ngModel)]="cat" name="cat" id="cat">
              <option *ngFor="let cat of categorias" [value]="cat.id">{{cat.nombre}}</option>
            </select>
            <label for="busc"><img [src]="'assets/musica-searcher.png'" alt=""></label>
            <div class="out" id="out">
              <div *ngFor="let pro of productos let i = index">
                <a class="prod" [routerLink]="['/producto',pro.codigo]" (click)="search_cli()">
                  <div class="img" *ngIf="i<5">
                    <img src="http://localhost:3000/{{ pro.imagen }}" alt="">
                  </div>
                  <div class="nombre" *ngIf="i<5">
                      {{ pro.nombre }}
                  </div>
                </a>
              </div>
              <div class="plus" *ngIf="i>4">
                  Ver el resto de resultados
                </div>
            </div>
            <input type="submit" name="busc" [(ngModel)]="buscar" id="busc" style="display:none;">
        </div>
    </form>
    <div class="car">
      <img [src]="'assets/shopping-cart.png'" alt="">
      <div class="list">
        <div class="top">Carrito</div>
          <app-car></app-car>
        <button class="btnCar" [routerLink]="['/carrito']">Abrir el carrito</button>
      </div>
    </div>
  </div>
</div>
<input type="checkbox" name="reg" id="reg">
<div class="registro">
  <app-register></app-register>
</div>