<div class="proc">
  <div class="img">
    <img src="http://localhost:3000/{{proc.imagen}}" alt="">
  </div>
  <div class="info">
    <div class="tit">
      {{proc.nombre}}
    </div>
    <div class="codigo">
      Cod #{{proc.codigo}}
    </div>
    <div class="desc">
      Descripción: 
      {{proc.descripcion}}
    </div>
    <div class="btn">
      <button id="down" (click)="downnum()"> - </button>
      <input type="text" [(ngModel)]="cant" name="cant" id="cant" value="{{cant}}" (change)="validate()">
      <button id="up" (click)="upnum()"> + </button>
    </div>
    <button class="btnR" (click)="add()">Añadir al Carrito</button>
  </div>
</div>
