<div class="body">
    <div class="titulo-caja">
        <label for="">Productos</label>
        <div class="productos">
                <div class="producto" *ngFor="let pro of productos let i = index" [routerLink]="['/producto',pro.codigo]">
                    <div class="img">
                        <img src="http://localhost:3000/{{pro.imagen}}" alt="">
                    </div>
                    <div class="nombre">
                        {{pro.nombre}}
                    </div>
                    <div class="price">
                        Cod #{{pro.codigo}}
                    </div>
                </div>
        </div>
    </div>
</div>