<div class="form register">
  <div class="titulo">
    Registrarse<label for="reg">X</label>
  </div>
  <form (submit)="onRegisterSubmit()">
    <label for="nombre">Nombre</label>
    <input class="input_text" type="text" [(ngModel)]="nombre" name="nombre">
    <label for="apellido">Apellido</label>
    <input class="input_text" type="text" [(ngModel)]="apellido" name="apellido" id="apellido">
    <label for="username">Nombre de Usuario</label>
    <input class="input_text" type="text" [(ngModel)]="username" name="username" id="username">
    <label for="correo">Correo</label>
    <input class="input_text" type="email" [(ngModel)]="correo" name="correo" id="correo">
    <label for="telefono">Teléfono</label>
    <input class="input_text" type="text" [(ngModel)]="telefono" name="telefono" id="telefono">
    <label for="DUI">DUI</label>
    <input class="input_text" type="text" [(ngModel)]="DUI" name="DUI" id="DUI">
    <label for="direccion">Dirección</label>
    <input class="input_text" type="text" [(ngModel)]="direccion" name="direccion" id="direccion">
    <label for="empresa">Empresa</label>
    <input class="input_text" type="text" [(ngModel)]="empresa" name="empresa" id="empresa">
    <label for="contrasena">Contraseña</label>
    <input class="input_text" type="password" [(ngModel)]="contrasena" name="contrasena" id="contrasena">
    <input type="submit" value="Registarse" name="enviar">
    <ng-flash-message></ng-flash-message>
  </form>
</div>