<div class="contenido">

  <div *ngFor="let pro of products let i = index" >
    <div class="product">
      <div>
        <img src="http://localhost:3000/{{pro.data.imagen}}" alt="">
      </div>
      <div>
        {{pro.data.nombre}}
      </div>
      <div>
        X {{pro.cant}}
      </div>
      <div>
        <button (click)="eliminar(pro.num)">X</button>
      </div>
    </div>
  </div>
  <div class="total">
    <div class="cant">

    </div>
    <div class="tot">

    </div>
  </div>
  <div class="total" *ngIf="a>0">
    <button class="btnCar" (click)="send()">Reservar</button>
  </div>
  <div class="showw" *ngIf="a<1">
    Agrega productos a tu carrito.
  </div>
</div>
