<div class="contenido">
    <div class="product">
        <div>
            <strong>IMAGEN</strong>
        </div>
        <div>
            <strong>NOMBRE</strong>
        </div>
        <div>
            <strong>CANTIDAD</strong>
        </div>
    </div>
    <div *ngFor="let pro of productos let i = index" >
        <div class="product">
            <div>
                <img src="http://localhost:3000/{{pro.data.imagen}}" alt="">
            </div>
            <div>
                {{pro.data.nombre}}
            </div>
            <div>
                X {{pro.cant}}
            </div>
        </div>
    </div>
</div>