<div class="admin_c">
    <div *ngIf="adloged; then opcs else form"></div>
  <ng-template #form>
    <div class="form">
      <div class="titulo">
        Iniciar
      </div>
      <form (submit)="onSubmitAd()">
          <label for="username">Nombre de Usuario</label>
          <input class="input_text" type="text" [(ngModel)]="username" name="username" id="username" placeholder="Nombre de Usuario" autocomplete="off" required>
          <label for="contrasena">Contraseña</label>
          <input class="input_text" type="password" [(ngModel)]="contrasena" name="contrasena" id="contrasena" placeholder="Contraseña" autocomplete="off" required>
          <input type="submit" value="Ingresar" name="enviar" id="iniciar">
          <ng-flash-message></ng-flash-message>
        </form>
    </div>
  </ng-template>
  <ng-template #opcs>
    <div class="pedidos">
      <div class="titulo">
        Pedidos
      </div>
      <div class="pedido">
        <div>
          <strong>ID</strong>
        </div>
        <div>
          <strong>CLIENTE</strong>
        </div>
      </div>
      <div class="pedido" *ngFor="let pet of pedidos" [routerLink]="['/pedido',pet.id]">
          <div>
            {{pet.id}}
          </div>
          <div>
            {{pet.cliente}}
          </div>
      </div>
    </div>
    <div class="inventario">
      <div class="titulo">
        Inventario
      </div>
      <div class="cuerpo">
        <div class="cuerpo">
          <div *ngIf="invent; then add else inv"></div>
          <ng-template #inv>
            inv
          </ng-template>
          <ng-template #add>
            <div class="ingresar">
              <form (submit)="onSubmitAdd($event)" enctype="multipart/form-data">
                <div class="titulo_">
                  Ingresar Producto
                </div>
                <div class="cuerpo">
                  <label for="nombre">Nombre del Producto</label>
                  <input type="text" [(ngModel)]="nombre" name="nombre" id="nombre" autocomplete="off" placeholder="Nombre del Producto" required>
                  <label for="cod">Código del Producto</label>
                  <input type="text" [(ngModel)]="cod" name="cod" id="cod" autocomplete="off" placeholder="Código del Producto" required>
                  <label for="desc">Descripción del Producto</label>
                  <input type="text" [(ngModel)]="desc" name="desc" id="desc" autocomplete="off" placeholder="Descripción" required>
                  <label for="cat">Categoría</label>
                  <select [(ngModel)]="cat" name="cat" id="cat">
                    <option *ngFor="let cat of categorias" [value]="cat.id">{{cat.nombre}}</option>
                  </select>
                  <label for="pic">Imagen</label>
                  <input type="file" (change)="onChangePic($event)" [(ngModel)]="pic" name="pic" id="pic" value="{{picc}}" autocomplete="off" required>
                  <img src="{{picc}}">
                  <input type="submit" value="Ingresar" id="send" name="send">
                  <ng-flash-message></ng-flash-message>
                </div>
              </form>
            </div>
            <div class="titulo">
              Categorías
            </div>
            <div class="ingresar">
              <form (submit)="onSubmitAddCat()">
                <div class="titulo_">
                  Ingresar Categoría
                </div>
                <div class="cuerpo">
                  <label for="nombre">Nombre de la categoría</label>
                  <input type="text" [(ngModel)]="categoria" name="categoria" id="categoria" autocomplete="off" placeholder="Nombre de la categoría" required>
                  <input type="submit" value="Ingresar" id="send" name="send">
                  <ng-flash-message></ng-flash-message>
                </div>
              </form>
            </div>
          </ng-template>
          <ng-template id="add">
            
          </ng-template>
        </div>
      </div>
    </div>
  </ng-template>
</div>